/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~CSS Quick Reset~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img {
    display: block; 
    max-width: 100%; /* keeps image within container*/
    height: auto; /*maintain image proportion and no stretch */
}
nav ul {
    list-style-type: none; /*no bullets */
    margin: 0;
    padding: 0
}
a {
    text-decoration: none; /*remove underline for all clickable link*/
}
h1, h2, h3, h4, p { /*removing the default padding*/
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
p, h3 { /*change default margin*/
    margin-bottom: 1em; 
}
h1, h2 { /*change default margin*/
    margin-bottom: .5em; 
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CSS Start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.content-wrap {
    flex: 1;
}

header {
    background: #333;
    color: #F2BF5E;
    text-align: center;
    padding: 1em 0;
}

header h1{
    margin-bottom:0;
}

#title-h1{
    margin-bottom:0;
}

#title{
    text-align: center;
    margin-bottom:0;
}

main {
    max-width: 60%;
    margin: auto;
}

img {
    max-width: 60%;
    margin: auto;
}

section {
    padding: 20px;
    margin: 20px;
}
#funtion-improvement{
    margin-top:0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}
