/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~CSS Quick Reset~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img {
    display: block; 
    max-width: 100%; /* keeps image within container*/
    height: auto; /*maintain image proportion and no stretch */
}
nav ul {
    list-style-type: none; /*no bullets */
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none; /*remove underline for all clickable link*/
}
h1, h2, h3, h4, p { /*removing the default padding*/
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Patua One', serif;
    font-family: 'Roboto', sans-serif;
}
p, h3 { /*change default margin*/
    margin-bottom: 0em; 
}
h1, h2 { /*change default margin*/
    margin-bottom: .5em; 
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CSS Start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex; /* needed so <main> container can reach the bottom of viewport*/
    min-height: 100vh; /* needed so <main> container can reach the bottom of viewport*/
    flex-direction: column; /* make each block to stack vertically*/
}
section.top{
    display: flex;
    flex-direction: column;
}
.name{
    color: #262626; 
    user-select: none;
}

.about-button {
    display: inline-block;/*make it block so I can adjust the box property and inline so that it won't stretch accross the parent container*/
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #F2BF5E; 
    color: #000000;
    border-radius: 20px; /*fully rounded corners*/
    font-weight: bold; 
    text-align: center;
    position: fixed; /*to fix to the top-right corner */
    top: 20px; /* Adjust the top value to control the vertical position */
    right: 20px; /* Adjust the right value to control the horizontal position */
    transition: background-color 0.3s ease; /*for smooth hover effect*/
}
.about-button:hover {
    background-color: #E8A200; /*darker yellow on hover*/
}

div.class-title{ /*the class name section*/
    user-select: none;
    color: #262626; 
}
div.class-title p { /*change class name margin*/
    margin-bottom: 0px; 
}
div.class-title-large-screen p { /*change class name margin*/
    margin-bottom: 0px; 
}

main {
    flex: 1; /*makes container fill the rest of the vertical space*/
    background-color: #262626; 
    display: flex;
    flex-direction: column;
}

section.quater{
    user-select: none;
    color: #f5f5f5;
    margin-bottom: 0; 
}

section.content {
    display: flex;
    line-height: 2em;
}
section.content h4{
    color: #F2BF5E;
    font-size: large;
    line-height: 2.2em;
}
li a {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Patua One', serif;
    font-family: 'Roboto', sans-serif;
    color: #838383;
}
li a:hover {
    color: #F2BF5E;
}
.class-title-large-screen{
    user-select: none;
    display: inline-block; 
    width: 100%;
    height: auto;
    position: fixed; /*to fix to the top-right corner*/
    top: 20px; /*adjust the top value to control the vertical position*/
    left: 20px;
    color: rgb(0,0,0,0);/*hide*/
}
footer{
    position: fixed;
    bottom: 20px;
    text-decoration: none;
}
footer p a{
    color: #ffffff1a;
}
  /*Responsive Design(media queries):*/

@media screen and (max-width: 767px) {
    /*Rules for small screens here*/
    /*Rules in here will apply if screens smaller than 768px(phone)*/
	body{
        min-width: 360px; /*fix all size dimentions when the screen is smller than 360 px*/
        background-image: url(images/mobileBackground.png);
        background-position: left top;
        background-attachment: fixed;
        background-repeat: no-repeat;
	}
    section.top{
        height: 140px;
        padding: 20px;
    }
    div.name{
        font-size: 14px;
    }

    div.class-title{ 
        color: #f5f5f5; 
        font-size: 36px;
        font-weight: 550;
        margin-top: auto;
    }
    .des157a{ 
        margin-top: 0.2em;
        margin-bottom:0em;
    }
    section.content {
        justify-content: space-around;
        padding-inline: 30px;
        padding-block: 25px;
    }
    section.quater{
        margin-top: auto; /*push to bottom*/
        align-self: flex-end; /*push right*/
        padding-inline: 30px;
        padding-block: 25px;
        font-weight: bold;
    }
    .hand-img{
        user-select: none;
        display: block; 
        width: 10px;
        height: auto;
        position: fixed; /*to fix to the top-right corner */
        height: auto;
        top: 20px; /* Adjust the top value to control the vertical position */
        left: 0px;
    }
    footer{
        left: 20px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1022px) {
	/*Rules for medium-sized screens here*/
	/*Rules in here will apply if screens is between 768px and 1024px(tablet)*/
    body{
        background-image: url(images/tabletBackground.png);
        background-position: right top;
        background-attachment: fixed;
        background-repeat: no-repeat;
	}
    section.top{
        height: 400px;
        align-items: flex-end;
        padding: 20px;
    }
    div.name{
        padding-inline:100px;
        padding-top:5px;
    }

    div.class-title{  
        font-size: 50px;
        font-weight: 600;
        margin-top: auto;
    }
    .des157a{ 
        font-size: 95px;
        margin-bottom:0em;
    }
    main {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    section.quater{
        padding-inline: 65px;
        padding-top: 30px;
        font-size: 44px; 
        font-weight: 500;
    }
    section.content {
        justify-content: space-around;
        padding-inline: 100px;
        padding-top: 25px;
        line-height: 2.5em;
    }
    section.content h4{
        font-size: 24px;
    }
    li a {
        font-size: 22px;
    }
    .hand-img{
        display: block; 
        width: 10px;
        height: auto;
        position: fixed; /*to fix to the top-right corner */
        top: 20px; /* Adjust the top value to control the vertical position */
        left: 0px;
        user-select: none;
    }
    footer{
        right: 20px;
    }
}

@media screen and (min-width: 1023px) {
	/*Rules in here will apply if screens is than 1024px(desktops)*/
    body{
        /* background-image: url(images/desktopBackground.png); */
        /* background-position: right top;
        background-attachment: fixed;
        background-repeat: no-repeat; */
	}
    
    section.top{
        background-image: url(images/desktopBackgroundLayer1.png), url(images/desktopBackgroundLayer0.png);
        background-size: cover, 2500px;
        background-repeat: no-repeat, no-repeat;
        background-position: right top, right top;
        background-attachment: fixed, fixed;
        height: 60vh;
        min-height: 450px;
        padding-top: 20px;
        padding-inline: 20px;
        flex-direction: row;
    }

    div.name{
        position:fixed;
        padding-top:30px;
        left: 50%;   /*horizontally align at the middle of the viewport*/
        transform: translate(-50%, -50%); /*center the item precisely accounting for its own dimensions*/
        animation: moveDown 2.5s;
        animation-timing-function: ease-in-out;
    }
    @keyframes moveDown {
        0% {padding-top:0px;color: #26262600; 
        }
        100% {
            padding-top:30px;
            color: #262626; }
      }
    div.class-title{  
        font-size: 50px;
        font-weight: 600;
        padding-left: 8vw;
        align-self: center;
        color:rgb(0,0,0,0)
    }
    
    
    .des157a{ 
        font-size: 95px;
        margin-bottom:0em;
        line-height: 1em;
    }
    
    .class-title-large-screen{
        font-size: 50px;
        font-weight: 600;
        display: inline-block; 
        width: 100%;
        height: auto;
        position: fixed; /*to fix to the top-right corner*/
        top: 20px; /*adjust the top value to control the vertical position*/
        left: 14vh;
        top: 22.7vb;
        color: #262626; 
        user-select: none;
        animation: fadeIn 3s;
    }
    div.class-title-large-screen:hover{
        color:#F2BF5E;
    }
    @keyframes fadeIn {
        0% {color: #26262600; 
        }
        70% {color: #26262600; 
        }
        100% {
            color: #262626; }
      }
    .hand-img{
        display: block; 
        width: 49vw;
        height: auto;
        background-image: url(images/hand.png);
        background-repeat: no-repeat;
        background-size: contain; /*fix img to its box*/
        position: fixed; /*to fix to the vp */
        top: 15vb; /* Adjust the top value to control the vertical position */
        right: 0px;
        animation: movein 2s;
        animation-timing-function: ease-in-out;
        user-select: none;
    }
    @keyframes movein {
        from {right: -620px;}
        to {right: 0px;}
      }

    div.lines {
        background-image: url(images/lines.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed ;

        padding-top: 20px;
        padding-inline: 20px;
        position: fixed; /*to fix to the vp */
        top:0px;
        right:0px;
        height: 60vh;
        width: 100vw;
        min-height: 450px;
        animation: lineIn 2s;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes lineIn {
        0% {transform: translatex(500px) translatey(-500px);
            
        }
        100% {
            transform: translatex(0px) translatey(0px)
        }
    }
    main {
        margin-top: 0;
        flex-direction: row-reverse;
        justify-content: flex-end;
        height: 60vh;
    }
    section.quater{
        padding-inline: 65px;
        font-size: 40px; 
        font-weight: 500;
        
        padding-top: 130px;
        padding-left: 8vw;
        padding-right: 0px;
    }
    section.content {
        width: 590px;
        justify-content: space-around;
        align-self: center;
        /* padding-inline: 40px;
        padding-top: 20px;
        padding-bottom: 40px; */
        line-height: 2em;
        margin-left: auto;
    }
    footer{
        right: 20px;
    }
}